<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Excellence . All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="Excellence_Gst_checkout_config_provider" xsi:type="object">Excellence\Gst\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Block\Address\Edit">
        <plugin name="Excellence_Gst_address_gstin" type="Excellence\Gst\Plugin\Customer\AddressEdit" sortOrder="2"/>
    </type>

</config>